
.header-tab/deep/ .van-tab
  height 37px
  line-height 37px
  font-size: 30px
.header-tab/deep/ .van-tabs__wrap
  height 37px
  line-height 37px
.follow
  width 720px
  // overflow: hidden 
  .swiper
    width 720px
    padding-top 20px
    padding-left 30px
    // display: inline-block
    // flex-shrink 0
    // overflow: hidden
    .swiper-item
      display inline-flex
      width 540px
      height 300px
      background-color: pink 