.topAd
  padding-top 14px
  img 
    width 91.5%
    height 23.5%
    margin 0 32px
.recommend
  padding-top 32px
  .title
    font-size: 32px
    padding-left 32px
    margin-bottom 20px
  .my-swipe
    .swipItem
      width 240px
      margin 0 20px 0 32px
      padding-bottom 32px
      .dishes
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .cartTitle 
          font-size 28px
          color: #333
        .foodCart 
          font-size: 20px
          color: #999
        .cartBottom
          display: flex
          justify-content: space-between
          .price
            font-size: 36px
            color: #ff5339

.orderPage
  display flex
  padding-bottom: 137px
  .navigation
    /deep/.asideItem
      display: block
      width 124px
      height 28px
      padding: 35px 15px
  .menu
    height 450px
    .menuItem
      display: flex
      .image
        margin-right 20px
      .menuInfo
        padding-bottom: 50px
        padding-right 30px
        .infoTitle
          font-size: 24px
          color: #333
        .material
          margin: 10px 0
          font-size: 20px
          color: #999
        .sales
          margin: 10px 0
          font-size: 20px
          color: #999
        .activity
          margin 13px 0
          font-size: 20px
          color: #f07373
          .limit
            font-weight 700
#resetNav/deep/ .van-sidebar
  width 154px !important
  text-align: center  
#infoPrice
  display flex
  justify-content: space-between



