
.topAd
  padding-top 7px
  img 
    width 91.5%
    height 23.5%
    margin 0 16px
.recommend
  padding-top 32px
  .title
    font-size: 32$mypx
    padding-left 32px
    margin-bottom 20px
  .my-swipe
    .swipItem
      width 240px
      margin 0 20px 0 32px
      padding-bottom 32px
      img
        width 240px
        height 240px
      .dishes
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .cartTitle 
          font-size 28px
          color: #333
        .foodCart 
          font-size: 20px
          color: #999
        .cartBottom
          display: flex
          justify-content: space-between
          .price
            font-size: 36px
            color: #ff5339
          
// 点餐页
.orderPage
  display flex
  padding-bottom: 137px
  .navigation
    width 154px
    background-color: rgb(248,248,248)
    .asideItem
      display: block
      width 124px
      height 28px
      line-height 28px
      padding: 35px 15px
      // 菜品选择列
  .menu
    .munu-desc
      margin-left 20px
      padding 15px 0
      .name-desc
        font-size: 24px
        color: #666
      .desc
        padding-left 5px
        font-size: 20px 
        color: #999
    .menuItem
      padding: 20px 0 20px 20px
      display: flex
      .image
        margin-right 20px
        img
          width 190px
          height 190px
      .menuInfo
        padding-bottom: 50px
        padding-right 30px
        .infoTitle
          font-size: 24px
          color: #333
        .material
          margin: 10px 0
          font-size: 20px
          color: #999
        .sales
          margin: 10px 0
          font-size: 20px
          color: #999
        .activity
          margin 13px 0
          font-size: 20px
          color: #f07373
          .limit
            font-weight 700
#infoPrice
  display flex
  width 336px
  justify-content: space-between
  .foodNum
    display: flex

//点餐加减按钮
.btn-update
  width 30px
  height 30px
  line-height 30px
  text-align: center
  font-size: 35px
  background-color: skyblue
  border-radius: 50%
  color: white



